:root {
  --middleGreen-color: rgb(17, 142, 17);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.lineThrough {
  text-decoration: line-through;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
}

main {
  padding: 2rem;
  width: fit-content;
  height: 700px;
  overflow-y: scroll;
  align-self: center;
  border: 1px solid var(--middleGreen-color);
  background-color: #daf7a6;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  color: var(--middleGreen-color);
  padding-bottom: 1.5rem;
}

fieldset {
  padding: 1rem;
  border: 1px solid var(--middleGreen-color);
}

#todoInputForm {
  display: flex;
  flex-direction: column;
}

.todoInputLabel {
  padding-top: 1rem;
}

.todo-item {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
}

.notShow {
  display: none;
}

.show {
  display: block;
}

#submitAuthorButton,
#submitButton {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  border: 1px solid var(--middleGreen-color);
  background-color: var(--middleGreen-color);
  color: white;
  border-radius: 3px;
}

#submitButton {
  width: fit-content;
  margin-top: 1rem;
}

hr {
  margin-top: 0.5rem;
  border: 0.5px solid var(--middleGreen-color);
}

#authorInput,
#todoInput {
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  border: 1px solid var(--middleGreen-color);
  border-radius: 3px;
  width: 12rem;
}

#timeInput {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 0.5rem;
  width: 12rem;
}

.action-icons {
  display: flex;
  align-self: flex-end;
}

#saveAuthorSection {
  margin-bottom: 1rem;
}

#userNames {
  padding: 0.2rem;
  font-size: 1rem;
  border: 1px solid var(--middleGreen-color);
  background-color: var(--middleGreen-color);
  color: white;
  border-radius: 3px;
}

#sortTodoByTime,
#showTimeButton {
  padding: 0.2rem;
  border: 1px solid var(--middleGreen-color);
  background-color: var(--middleGreen-color);
  color: white;
}

#timeButtonSection {
  margin-top: 0.5rem;
}
